@import url("./Navbar.css");

@import url("./Main.css");
@import url("./VisualizarPedidos.css");
@import url("./Contato.css");
@import url("./Sobre.css");

@import url("./Footer.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-padding: 16px;
  --smallest-padding: 2px;

  --base-radius: 8px;
}

::selection {
  color: theme("colors.white");
  background-color: theme('colors.light-blue.500');
}

* {
  margin: 0;
  padding: 0;
  z-index: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  color: theme('colors.black');

  transition: .4s;

  @apply outline-dark-blue-500;
}

/* Creates smooth scroll behaviour for in page links */
html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply m-0 bg-grey-100 w-full;
}

span {
  vertical-align: text-bottom;
  color: inherit !important;
}

/* Highlight Animation (desktop) */
@media screen and (min-width:850px) {
  main h1::after {
    bottom: 5px;
  }
  main h1.contato::after {
    bottom: 8px;
  }

  .highlight,
  h1 {
    transform: perspective(0px) translateZ(0) translate3d(0,0,0);

    cursor: default;
    position: relative;
  }
  .highlight::after,
  h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;

    width: 0;
    height: 2px;
    border-radius: 20px;

    transition: .6s;

    @apply bg-light-blue-700;
  } 
  footer .highlight:hover {
    text-shadow: 0 0 1px theme('colors.white');
  }
  .highlight:hover::after,
  h1:hover::after {
    width: 100%;
  }

  main .nome.highlight:hover,
  main h1:hover {
    transform: translateZ(0) scale(1.02);
  }

  footer .highlight::after {
    bottom: 0;
    @apply bg-light-blue-500;
  }
}