main .sobre {
  width: 70%;
}
main .sobre div {
  align-self: center;
}
main .sobre div.grid {
  padding: var(--base-padding) 0;
  gap: var(--base-padding);
  grid-auto-flow: column;
}
main .sobre div p {
  font-size: 20px;
}
main .sobre div ul {
  padding-left: 5px;
}
main .sobre div li {
  padding: 1px 0;
  font-size: 19px;
}
main .sobre p.horario li {
  font-size: 20px;
}
main .sobre ul li:nth-child(even) b {
  color: var(--dblue500) !important;
}  


@media screen and (max-width:1000px) {
  main .sobre {
    width: 90%;
  }

  main .sobre div.grid {
    grid-auto-flow: row;
  }
  main .sobre div.grid:nth-child(2) img {
    grid-row: 1 / 2;
  }
}