nav {
  display: flex;
  position: relative; /* nav as a parent position container for dropdowns */
  width: 100%;

  background-color: var(--dblue500);
  box-shadow: 0px 1px 6px 3px rgba(128, 128, 128, 0.9);
  z-index: 1;
}
nav img {
  height: 64px;
  width: 192px;
}
nav ul {
  display: flex;
}
nav ul li {
  color: var(--white);

  font-size: 1.5rem;
  font-weight: 500;

  border-radius: calc(var(--base-radius) + 2px);
  transition: .6s, box-shadow .3s, z-index 0s;

  cursor: pointer;
}
nav ul li.selected {
  color: var(--green400); /* slightly lighter green for nav links */
}
nav ul li:hover,
nav .dropdown:hover li {
  color: var(--liblue500);
  background-color: var(--white);
}
nav ul li.selected:hover,
nav .dropdown ul li.selected:hover {
  color: var(--white);
  background-color: var(--green500);
}

nav li#sobre {
  padding-right: calc(var(--base-padding) * 3);
}

/* Dropdown menus */
nav .dropdown {
  position: relative;
}
nav .dropdown * {
  min-width: max-content;
}
nav .dropdown > li {
  border-radius: var(--base-radius) var(--base-radius) 0 0;
}
nav .dropdown > li span {
  position: relative;
  top: 3px;
}
nav .dropdown:has(li.selected) > li {
  color: var(--green400);
}

nav .dropdown ul {
  display: block;
  position: absolute;

  visibility: hidden;
  opacity: 0;
  height: 0;
  z-index: -1;

  transition: .6s;
}
nav .dropdown ul * {
  z-index: -1;
}
nav .dropdown ul li {
  display: block;
  border-radius: 0;
}
nav .dropdown ul li:hover {
  color: var(--white);
  background-color: var(--liblue500);
}

nav .dropdown ul li.selected {
  color: var(--green400);
}

nav .dropdown ul li:first-child {
  border-top-right-radius: var(--base-radius);
}
nav .dropdown ul li:last-child {
  border-bottom-left-radius: var(--base-radius);
  border-bottom-right-radius: var(--base-radius);
}

nav #stmas li {
  padding-right: calc(var(--base-padding) * 1.3);
}

nav .dropdown.click > li span {
  transform: rotate(180deg);
  transition: .4s ease-out;
}

nav span {
  color: inherit;
}

/* Emulate nav light source */
@media screen and (min-width:850px) {
  nav ul li:hover,
  nav ul li.visible,
  nav ul.visible li {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)  !important;
  }
}

/* Desktop animations */
@media screen and (min-width:850px) {
  nav .dropdown:hover > li span {
    transform: rotate(180deg);
    transition: .4s ease-out;
  }
  
  nav .dropdown:hover > ul  {
    visibility: visible;
    opacity: 1;
    height: auto;

    z-index: 2;
  }
  nav .dropdown:hover > ul * {
    z-index: 2;
  }
}


/* Mobile nav button */
nav #mobileButton {
  display: none;
  color: var(--white);
}
nav #mobileButton span {
  padding-top: var(--smallest-padding);
  font-size: 2.6rem;
}
/* Responsive nav */
@media screen and (max-width:850px) {
  nav #mobileButton {
    display: flex;

    z-index: 5;
  }
  nav #mobileButton span.selected {
    color: var(--black);
  }
  
  nav > ul li {
    color: var(--liblue500);
  }
  nav > ul li.page {
    color: var(--dblue500);
  }
  nav > ul li.page:hover {
    color: var(--white) !important;
    background-color: var(--dblue500);
  }

  nav > ul {
    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;

    width: 0%;
    height: 100%;

    background-color: var(--white);

    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: .4s;
  }
  nav > ul * {
    font-size: 28px !important;
  }

  nav > ul.selected {
    display: flex;

    z-index: 2;

    width: 100%;
    height: 100vh;
  }

  nav > ul:not(.selected) * {
    display: none;
  } 

  nav > ul > ul {
    flex-direction: column;
  }
  nav > ul li.page.selected {
    color: var(--green500);
  }
  nav > ul ul li.page.selected {
    color: var(--green500);
  }
  nav > ul li.page.selected:hover {
    background-color: var(--green500);
  }
  nav > ul ul li.page.selected:hover {
    color: var(--white);
    background-color: var(--green500);
  }
  nav > ul .dropdown * {
    margin: auto;

    position: relative;
    min-width: fit-content;
  }
  nav .dropdown:hover ul li {
    color: var(--dblue500);
  }
  nav .dropdown {
    display: flex;
    flex-direction: column;
  }
  nav .dropdown ul {
    overflow: hidden;
  }
  nav .dropdown ul li:hover {
    background-color: var(--dblue500);
  }

  nav .dropdown.click > li span {
    transform: rotate(180deg);
    transition: .4s ease-out;
  }
  
  nav .dropdown.click > ul  {
    visibility: visible;
    opacity: 1;
    height: auto;
  
    z-index: 2;
  }
  nav .dropdown.click > ul * {
    z-index: 2;
  }
}