@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-text-custom: hsl(117, 86%, 95%); 
  --black-custom: hsl(221, 80%, 5%);
  --blue-custom: hsl(178, 97%, 40%);
  --green-custom: hsl(146, 100%, 45%);
}

::selection {
  color: var(--white-text-custom);
  background-color: var(--blue-custom);
}

* {
  margin: 0;
  padding: 0;
  z-index: 0;

  font-family: 'Inter', sans-serif;
  transition: .4s;
}

body {
  width: 100vw;
  background-color: hsl(233, 100%, 90%);
  overflow-x: hidden;
}


nav {
  background-color: var(--green-custom);
  box-shadow: 0px 1px 6px 3px gray;
}
nav ul li {
  color: var(--white-text-custom);

  font-size: 1.6rem;
  font-weight: 400;

  border-radius: 10px;
  transition: .6s;
}
nav ul li.selected {
  color: #008984;
}
nav ul li:hover {
  color: var(--blue-custom);
  background-color: var(--white-text-custom);
}
nav ul li.selected:hover {
  color: var(--white-text-custom);
  background-color: #008984;
}


main {
  height: 100vh;
}

main h1 {
  padding: 0.1rem;
  padding-bottom: 0.5rem;

  color: var(--black-custom);

  font-family: "Quicksand", sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.1rem;
}

main button {
  font-size: 1.6rem;
  font-weight: 500;

  margin: 0.7rem auto;
  border-radius: 8px;

  color: var(--white-text-custom);
  background-color: var(--green-custom) !important;
  transition: .6s;
}
main button:hover {
  color: var(--blue-custom);
  background-color: var(--white-text-custom) !important;
}

main div.contact p {
  font-size: 1.4rem;
}

main a, 
main span {
  color: #1A5BE4;
}
main div.contact span {
  cursor: default;
}

footer {
  color: var(--white-text-custom);
  background-color: var(--black-custom);

  grid-template-columns: 1fr 3fr;
}