@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(117, 86%, 95%); 
  --black: hsl(221, 80%, 5%);

  --lightblue: hsl(178, 97%, 40%);
  --darker-lightblue: hsl(178, 100%, 27%);

  --darkblue: hsl(221, 80%, 50%);

  --green: hsl(146, 100%, 45%);

  --base-padding: 16px;
  --smallest-padding: 2px;
}

::selection {
  color: var(--white);
  background-color: var(--lightblue);
}

* {
  margin: 0;
  padding: 0;
  z-index: 0;
  box-sizing: border-box !important;

  font-family: 'Inter', sans-serif;
  transition: .4s;
}

body {
  width: 100%;

  background-color: hsl(233, 100%, 90%);
}

nav {
  width: 100%;

  background-color: var(--green);
  box-shadow: 0px 1px 6px 3px gray;
}
nav ul li {
  color: var(--white);

  font-size: 1.6rem;
  font-weight: 400;

  border-radius: 10px;
  transition: .6s;
}
nav ul li.selected {
  color: var(--darker-lightblue);
}
nav ul li:hover {
  color: var(--lightblue);
  background-color: var(--white);
}
nav ul li.selected:hover {
  color: var(--white);
  background-color: var(--darker-lightblue);
}


main {
  min-height: 100vh;
}

main h1 {
  padding: var(--smallest-padding);
  padding-bottom: var(--base-padding);

  color: var(--black);

  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
}
main h1::after {
  bottom: 5px !important;
}
main h1.contato::after {
  bottom: 8px !important;
}

main .highlight,
main h1 {
  transform: translateZ(0) scale(1.0, 1.0) translate3d(0,0,0);  
  backface-visibility: hidden;
  
  cursor: default;
  position: relative;
}
main .highlight::after,
main h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;

  width: 0;
  height: 2px;
  border-radius: 20px;
  background-color: var(--darker-lightblue);

  transition: .6s;
} 
main .highlight:hover::after,
main h1:hover::after {
  width: 100%;
}

main .highlight:hover,
main h1:hover {
  transform: scale(1.02);
}

main button {
  font-size: 1.6rem;
  font-weight: 500;

  margin: 0.7rem auto;
  border-radius: 8px;

  color: var(--white);
  background-color: var(--green) !important;
  transition: .6s;
}
main button:hover {
  color: var(--lightblue);
  background-color: var(--white) !important;
}

main div.contact p {
  font-size: 1.4rem;
}

main a, 
main span {
  color: var(--darkblue);
}
main div.contact span {
  cursor: default;
}

main .funcionarios {
  padding-top: 12px;
  width: 90%;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--base-padding);
}
@media screen and (max-width:300px) {
  main .funcionarios {
    grid-template-columns: 1fr;
  }
}
main .funcionarios div {
  background-color: var(--white);
  border-radius: 8px;

  padding: var(--base-padding);
}
main .funcionarios div > * {
  font-size: 18px;

  padding: calc(var(--smallest-padding) * 1.5);
}
main .funcionarios .nome {
  width: fit-content;

  font-size: 22px;
  font-weight: 500;
}
main .funcionarios .cargo {
  font-size: 19px;
  filter: brightness(92%);
}
main .funcionarios .telefone {
  color: var(--darker-lightblue);
}


footer {
  color: var(--white);
  background-color: var(--black);

  grid-template-columns: 1fr 3fr;
}