@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(117, 86%, 95%); 
  --black: hsl(221, 80%, 5%);

  --lightblue: hsl(178, 97%, 40%);
  --darker-lightblue: hsl(178, 100%, 27%);

  --darkblue: hsl(221, 80%, 50%);

  --green: hsl(146, 100%, 45%);

  --base-padding: 16px;
  --smallest-padding: 2px;

  --base-radius: 8px;
}

::selection {
  color: var(--white);
  background-color: var(--lightblue);
}

* {
  margin: 0;
  padding: 0;
  z-index: 0;
  box-sizing: border-box !important;

  font-family: 'Inter', sans-serif;
  color: var(--black);

  transition: .4s;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;

  background-color: hsl(233, 100%, 90%);
}

nav {
  position: relative;
  width: 100%;

  background-color: var(--darkblue);
  box-shadow: 0px 1px 6px 3px gray;
}
nav img {
  filter: brightness(0) invert(1); /* change img to white */
}
nav ul li {
  color: var(--white);

  font-size: 1.5rem;
  font-weight: 400;

  border-radius: calc(var(--base-radius) + 2px);
  transition: .6s;
}
nav ul li.selected {
  color: hsl(146, 100%, 65%);
}
nav ul li:hover,
nav ul li.visible {
  color: var(--lightblue);
  background-color: var(--white);
}
nav ul li.selected:hover {
  color: var(--white);
  background-color: var(--green);
}

nav .dropdown ul {
  position: absolute;
  z-index: 1;

  display: none;
}
nav .dropdown > li {
  border-radius: var(--base-radius) var(--base-radius) 0 0;
}
nav .dropdown ul li {
  border-radius: var(--base-radius);
  border-top-left-radius: 0;
}
nav .dropdown ul.visible {
  display: block;
}


main {
  min-height: 90vh;
}
main h1 {
  text-align: center;
  width: fit-content;

  padding: var(--smallest-padding);
  padding-bottom: var(--base-padding);

  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
}

main button {
  font-size: 1.6rem;
  font-weight: 500;

  margin: 0.7rem auto;
  padding: calc(var(--base-padding) * 0.5);
  border-radius: var(--base-radius);

  color: var(--white);
  background-color: var(--green) !important;
  transition: .6s;
}
main button:hover {
  color: var(--lightblue);
  background-color: var(--white) !important;
}

main div.content > * {
  padding: var(--smallest-padding);
}
main div.content h3 {
  font-size: 30px;
  font-weight: 600;

  cursor: default;
}
main div.content p {
  padding-bottom: calc(var(--base-padding) * 0.6);
}

main div.content,
main div.contact {
  font-size: 18px;

  width: min(850px, 90%);
  
  margin: calc(var(--base-padding) * 0.7) 0 var(--base-padding);
  padding: var(--base-padding);
  
  border-radius: var(--base-radius);
  background-color: var(--white);
}

main a {
  color: var(--darkblue);
}
main div.contact {

}
main div.contact p {
  font-size: 22px;
}

main .telefone {
  color: var(--darker-lightblue);
}

main .funcionarios {
  padding-top: 12px;
  width: 90%;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: calc(var(--base-padding) * 1.5);
}
@media screen and (max-width:300px) {
  main .funcionarios {
    grid-template-columns: 1fr;
  }
}
main .funcionarios div {
  background-color: var(--white);
  border-radius: var(--base-radius);

  padding: calc(var(--base-padding) * 1.3);
}
main .funcionarios div > * {
  font-size: 18px;

  padding: calc(var(--smallest-padding) * 1.8);
}
main .funcionarios .nome {
  width: fit-content;

  font-size: 22px;
  font-weight: 500;
}
main .funcionarios .cargo {
  cursor: default;

  font-size: 19px;
  filter: brightness(92%);
}


footer {
  background-color: var(--black);

  grid-template-columns: 250px repeat(auto-fit, minmax(250px, 1fr));
  transition: .4s;
}
footer * {
  color: var(--white);
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-padding) * 0.5);
}
footer li {
  cursor: pointer !important;
  width: fit-content;
}

/* Animations */
main h1::after {
  bottom: 5px !important;
}
main h1.contato::after {
  bottom: 8px !important;
}

.highlight,
h1 {
  transform: perspective(0px) translateZ(0) translate3d(0,0,0);

  cursor: default;
  position: relative;
}
.highlight::after,
h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;

  width: 0;
  height: 2px;
  border-radius: 20px;

  transition: .6s;

  background-color: var(--darker-lightblue);
} 
footer .highlight:hover {
  text-shadow: 0 0 1px var(--white);
}
.highlight:hover::after,
h1:hover::after {
  width: 100%;
}

main .nome.highlight:hover,
main h1:hover {
  transform: translateZ(0) scale(1.02);
}

footer .highlight::after {
  bottom: 1px;
  background-color: var(--lightblue);
}